

.DS_Store

__pycache__/
.pytest_cache

data/*.csv
data/*.zip
data/bbc_docs/*.txt
data/bbc_docs/*.csv
#data/whiskey/*.csv
data/whiskey/derived.csv
data/whiskey/my_submission.csv
data/whiskey/my_gs_submission.csv

data/exports/*.csv
